# Build artifacts
build/
.pio/
.cmakes/
CMakeFiles/
cmake-build*/
*.cmake
*.elf
*.bin
*.hex
*.map
*.d
*.o

# Arduino / VS Code / PlatformIO metadata
.vscode/
.arduino*
*.ino.cpp
*.pioenvs/
*.piolibdeps/

# OS junk
.DS_Store
Thumbs.db
